<div ng-controller="controller">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.css">
    <script src="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.js"></script>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li>
                    <label>Student name: </label>
                    <input ng-model="items.Name">
                </li>
                <li>
                    <label>Group name: </label>
                    <select ng-model="items.GroupId" convert-to-number width="300px">
                        <option ng-repeat="option in groupsList" value="{{option.Id}}">{{option.Name}}</option>
                    </select>
                        
                </li>
            </ul>
            {{items.GroupId}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>

    </script>
    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
    <button type="button" class="btn btn-primary" ng-click ="addItem()" >
        Add Item
    </button>

</div>

