<div ng-controller="controller" align="center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.css">
    <script src="https://cdn.rawgit.com/angular-ui/ui-select/master/dist/select.min.js"></script>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Students</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li>
                    <label>Student name: </label>
                    <input ng-model="items.Name" class="txb-modal">
                </li>
                <li>
                    <label>Group name: </label>
                    <select ng-model="items.GroupId" convert-to-number class="select-modal">
                        <option ng-repeat="option in groupsList" value="{{option.Id}}">{{option.Name}}</option>
                    </select>                    
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-show = "deleteVisibility" ng-click="$ctrl.delete() ">Delete</button>
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>

    </script>
    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
    <button type="button" class="btn btn-primary" style="width: 502px;" ng-click ="addItem()" >
        Add Item
    </button>

</div>

